<h1>Books</h1>
<%= link_to("Add New Book", new_book_path, :class => 'action new') %>
<table class="listing" summary="Book list">
  <tr class="header">
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Price</th>
    <th>Published</th>
  </tr>
  <% @books.each do |b| %>
  <tr>
      <td><%= b.title %></td>
      <td><%= b.author %></td>
      <td><%= b.genre %></td>
      <td><%= b.price %></td>
      <td><%= b.published %></td>
      <td class="actions">
        <%= link_to("Show", books_path(b), :class => 'action show') %>
        <%= link_to("Edit", edit_book_path(b), :class => 'action edit') %>
        <%= link_to("Delete", delete_book_path(b), :class => 'action delete') %>
      </td>
  </tr>
  <% end %>
</table>
