<div class="Books new">
  <h2>Create Book</h2>

  <%= form_for(@book) do |f| %>

    <table summary="Book form fields">
      <tr>
        <th>title</th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Author</th>
        <td><%= f.text_field(:author) %></td>
      </tr>
      <tr>
        <th>Genre</th>
        <td><%= f.text_field(:genre) %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= f.text_field(:price) %></td>
      </tr>
      <tr>
        <th>Published</th>
        <td><%= f.date_field(:published) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create Book") %>
    </div>

  <% end %>
</div>
