<div class="books show">
  <%= link_to("<< Back to List", books_path, :class => 'back-link') %>
  <h2>Show book</h2>
  <table summary="book detail view">
    <tr>
      <th>Title</th>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= @book.author %></td>
    </tr>
    <tr>
      <th>Genre</th>
      <td><%= @book.genre %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= @book.price %></td>
    </tr>
    <tr>
      <th>Published</th>
      <td><%= @book.published %></td>
    </tr>
  </table>

</div>
